body {
    background-image: url("images/Trevor_birthday.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    color: #fffafa;
}
h1, h2, h3 {
    text-shadow: 0px 0px 1px black;
}

#trv-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #efb0c9;
}

h4 {
    background: #efb0c9;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bday_age {
    background: #efb0c9;
    padding: 4px 8px 4px 8px;
    border-radius: 3px;
    margin-bottom: 0;
    margin-top: 16px;
}
#bday_date {
    padding: 4px 8px 4px 8px;
    border-radius: 3px;
    margin-top: 8px;
}


.gift_img {
    margin: 0 auto;
    border: 6px solid #efb0c9;
    width: 400px;
    height: 400px;
    width: 400px;
    border: 6px solid #ffff;
    border-radius: 10px;
    background-image: url("images/gift-box.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}
    
#gift_title {
    margin-bottom: 10px;
}
#gift_hint {
    margin-top: 0;
}


#gift_img_happy:hover {
    background-image: url("images/happy_img.gif");
}

#gift_img_dancing:hover {
    background-image: url("images/dancing.gif");
}

#gift_img_sweet-saying:hover {
    background-image: url("images/sweet-saying.png");
}
#gift_img_fireworks:hover {
    background-image: url("images/fireworks.bin")
}
#gift_img_kenya {
    height: 200px;
}
#gift_img_kenya:hover {
    background-image: url("images/kenyanflag.png");
}
span {
    border-bottom: 2px solid green;
}
span:hover {
    color: burlywood;
}
a {
    color: #efb0c9;
}
#footer {
    color: rgb(12, 253, 4);
    width: 400px;
    margin: 20px auto 20px;

}
